tikdum.com, www.tikdum.com {
    reverse_proxy local-service-app:80
}

provider.tikdum.com {
    reverse_proxy provider-app:80
}

admin.tikdum.com {
    reverse_proxy admin-dashboard:80
}

api.tikdum.com {
    reverse_proxy server:4000
}
